/*

Color Pallete:

Dark: #141414
Main: #20BD67
Secondary: #CD3F2D
Accent: #4CCED1
White: #FFFFFF (FFFFFF)

*/

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a { 
    color: #4CCED1;
    text-decoration: none;
}

p, ol {
    color: #444444;
}

ol > li {
    margin-bottom: 10px;
}

body {
    padding-top: 80px;
    background-color: #fafafa;
}


html, body {
    height: 100%;
    margin: 0;
}

.body-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .body-push {
    height: 50px;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Header */

header {
    height: 80px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: #b8b8b8 0px 0px 10px;

    z-index: 999;
}

#header-logo {
    height: 80px;
    float: left;
    margin-right: 20px;
}

#header-content {
    font-size: 18px;
    color: #141414;
    height: 100%;
    width: 80%;

    text-align: center;
}

.header-link {
    margin-top: 28px;
    color: rgb(63, 63, 63);
}

.header-button {
    color: white;
    background: #20BD67;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-top: 24px;

    border-radius: 16px;

    box-shadow: #eeeeee 0px 0px 10px;
    transition: 0.5s;
}

.header-button:hover {
    box-shadow: #bbbbbb 0px 0px 10px;
}

#header-content a {
    display: block;
    float: left;

    margin-right: 10px;
    margin-left: 10px;
}

.header-active {
    color: #20BD67;
}

.header-links {
    float: right;
}

#location-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 78px;
}

/* Footer */

.footer {
    text-align: center;
    background-color: #282828;
    overflow: hidden;
    width: 100%;
}

.footer-content {
    color: #cccccc;
    margin-top: 12px;

}

/* Home page */

.elev-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: #cccccc 0px 0px 10px;
    padding: 20px;
}

.content {
    width: 80%;
    left: 10%;
    position: relative;
}

.row {
    width: 100%;
    display: auto;
}

.main {
    padding: 20px;
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

#featured {
    width: 100%;
    margin-bottom: 30px;
}

#featured td {
    padding-top: 20px;
    height: 400px;
    overflow: hidden;
}

#featured .grid-item {
    display: inline-block;
    margin-right: 10px;
}

/* Story cards */

.story-card {
    width: 300px;
    padding-top: 1px;
    margin-bottom: 15px;
    top: 0;
    height: 100%;

    margin-right: 20px;
}

.story-card * {
    display: block;
}

.card-body {
    color: #444444;
}

.feature-image-container {
    text-align: center;
}

.feature-image-container-no-float {
    text-align: center;
    padding-top: 20px;
    min-height: 200px;
}

.feature-image {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Story slices */

.story-slice {
    width: 70%;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.story-slice .feature-image {
    display: inline;
    margin-right: 10px;
}

.story-slice .feature-image {
    width: 80px;
    height: auto;
}

.story-slice-content-container {
    height: 100%;
    padding-bottom: 10px;
}

/* Buttons */

.btn-primary {
    background-color: #20BD67;
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

    border: none;

    cursor: pointer;

    box-shadow: #cccccc 0px 0px 10px;
    transition: 0.3s;
}

.btn-primary:hover {
    box-shadow: #aaaaaa 0px 0px 10px;
}

/* Weather */

.weather-row {
    width: 60%;
    text-align: left;
    float: left;
}

/* Events */

.happening-row {
    width: 30%;
    float: right;
}

.events-list {
    border: 1px solid #cccccc;
    margin-bottom: 15px;
}

.events-list td {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.events-list tr:last-of-type td {
    border: none;
}

.events-list table {
    width: 100%;
    border-radius: 8px;
}

div.event-time {
    margin-top: 5px;
    color: #888888;
}

/* === Login Page === */

.login-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}

.login-form {
    width: 250px;
    margin-left: 32%;
    font-size: 18px;
}

.login-form td {
    padding-top: 5px;
    padding-bottom: 10px;
}

#login-button {
    width: 60px;
    height: 30px;
    border-radius: 0px;
}

.login-errors {
    color: #e47256;
}


/* === Create Page === */

.create-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;

    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#create-explanation {
    max-width: 800px;
    margin-bottom: 40px;
}

#see-drafts-btn {
    margin-top: 10px;
}

.create-tools {
    margin: 0 auto;
    width: 80%;
}

.create-headlines-card {
    float: left;
    width: 50%;
    padding-bottom: 30px;
    padding-left: 30px;

    height: 250px;
}

.contribute-drafts-card {
    float: right;
    width: 30%;
    padding-bottom: 30px;
    padding-left: 30px;
    
    height: 250px;
}

.button-center-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.headline-input {
    display: block;
    width: 80%;
    margin: 0 auto;
    resize: none;
    border: #dddddd solid 1px;

    font-size: 24px;
    font-weight: bold;
    font-variant-caps: small-caps;
    font-stretch: expanded;
}


/* === Drafts Page === */

.drafts-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

#drafts-table {
    width: 100%;
    border-collapse: collapse;
}

#drafts-header {
    font-weight: bold;
}

#drafts-table tr {
    height: 50px;
}

#drafts-table td {
    padding-left: 5px;
}

#drafts-table, #drafts-table th, #drafts-table td {
    border: 1px solid #bbbbbb;
}

.tag-name {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;

    background-color: #dddddd;
    border-radius: 8px;
}


/* === Edit Page === */

.edit-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

