/*

Color Pallete:

Dark: #141414
Main: #20BD67
Secondary: #CD3F2D
Accent: #4CCED1
White: #FFFFFF (FFFFFF)

*/

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a { 
    color: #4CCED1;
    text-decoration: none;
}

body {
    margin-top: 80px;
    background-color: #fafafa;
}

/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Header */

header {
    height: 80px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: #b8b8b8 0px 0px 10px;

    z-index: 999;
}

#header-logo {
    height: 80px;
    float: left;
    margin-right: 20px;
}

#header-content {
    font-size: 18px;
    color: #141414;
    height: 100%;
    width: 80%;
}

.header-link {
    margin-top: 28px;
    color: rgb(63, 63, 63);
}

#header-content a {
    display: block;
    float: left;

    margin-right: 10px;
    margin-left: 10px;
}

.header-active {
    color: #20BD67;
}

.header-links {
    float: right;
}

/* Home page */

.content {
    width: 80%;
    left: 10%;
    position: absolute;
}

.row {
    width: 100%;
    display: inline;
}

.main {
    padding: 20px;
    width: 100%;
    float: left;
}

#featured {
    width: 100%;
    margin-bottom: 30px;
}

#featured td {
    padding-top: 20px;
    height: 400px;
    overflow: hidden;
}

#featured .grid-item {
    display: inline-block;
    margin-right: 10px;
}

/* Story cards */

.story-card {
    width: 300px;
    box-shadow: #cccccc 0px 0px 10px;
    padding: 20px;
    padding-top: 1px;
    margin-bottom: 15px;
    top: 0;
    height: 100%;

    margin-right: 20px;
}

.story-card * {
    display: block;
}

.card-body {
    color: #444444;
}

.feature-image-container {
    text-align: center;
    float: left;
}

.feature-image-container-no-float {
    text-align: center;
    padding-top: 20px;
}

.feature-image {
    height: 200px;
}

/* Story slices */

.story-slice {
    width: 70%;
    box-shadow: #cccccc 0px 0px 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.story-slice .feature-image {
    display: inline;
    margin-right: 10px;
}

.story-slice .feature-image {
    width: 80px;
    height: auto;
}

.story-slice-content-container {
    height: 100%;
}