{% extends "base.html" %}

{% block content %}

<div class="login-container">
    <div class="login-form elev-card">
        <h2>Login</h2>

        {% if form.errors %}
            <div class="login-errors">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>You need to log in to access this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
    
            <input type="submit" value="Login" id="login-button">
            <input type="hidden" name="next" value="/">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
    </div>


</div>

{% endblock %}