{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="main">
            <div id="featured">
                <h1>Featured</h1>
                <table>
                    <tr>
                        {% for article in featured %}
                            <td>
                                <div class="story-card elev-card">
                                    {% if article.feature_image %}
                                        <div class="feature-image-container-no-float">
                                            <img class="feature-image" src="{{ article.feature_image.url }}">
                                        </div>
                                    {% endif %}
                                    <br/>
                                    <h3 class="headline">
                                        {{ article.headline }}
                                    </h3>
                                    <div class="card-body">
                                        {{ article.card_desc }}
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <h1>Local Articles</h1>
            <div id="newsfeed">
                {% for article in articles %}
                    <div class="story-slice elev-card clearfix">

                        <table>
                            <tr>
                                {% if article.feature_image %}
                                    <td>
                                        <div class="feature-image-container">
                                            <img class="feature-image" src="{{ article.feature_image.url }}">
                                        </div>
                                    </td>
                                {% endif %}
                                
                                <td>
                                    <div class="story-slice-content-container">
                                        <h3 class="headline">
                                            {{ article.headline }}
                                        </h3>
                                        <div class="card-body">
                                            {{ article.card_desc }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h1>Local Information</h1>

    <div class="weather-row elev-card">
        <h3>Weather</h3>
        <script type='text/javascript' src='https://darksky.net/widget/default/36.0181,-78.8752/us12/en.js?width=100%&height=350&title=Durham, NC&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Trebuchet MS&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>

        <script type='text/javascript' src='https://darksky.net/widget/graph-bar/54.7764,-1.5759/us12/en.js?width=100%&height=350&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Trebuchet MS&customFont=&units=us&timeColor=333333&tempColor=333333&currentDetailsOption=true'></script>
    </div>

    <div class="happening-row elev-card">
        <h2>Happening this week</h2>
        
        <div class="events-list">
            <table>
                <tr class="event-item">
                    <td>This is a sample event.<br/>
                    <div class="event-time">Today, 9:00 PM</div></td>
                </tr>

                <tr class="event-item">
                    <td>Big concert at DPAC<br/>
                    <div class="event-time">Tomorrow, 7:45 PM</div></td>
                </tr>

                <tr class="event-item">
                    <td>Roll Shoots<br/>
                    <div class="event-time">Wednesday, 11:30 PM</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}