{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Pigeon</title>

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <div class="body-wrapper clearfix">
            <header>
                <div id="header-content">
                    <a href="/">
                        <img id="header-logo" src="{% static 'logo.png'%}">
                    </a>

                    <span id="location-title">Durham, NC</span>

                    <div class="header-links">
                        <a class="header-link header-active" href="/">
                            Home
                        </a>
        
                        <a class="header-link" href="#">
                            Locations
                        </a>
        
                        <a class="header-link" href="#">
                            About
                        </a>
        
                        {% if user.is_authenticated %}
                            <a class="header-link" href="accounts/logout/">
                                Logout
                            </a>

                            <a class="header-link header-button" href="create/">
                                Create
                            </a>
                        {% else %}
                            <a class="header-link" href="accounts/login/">
                                Login
                            </a>
                        {% endif %}
                    </div>
                </div>
            </header>

            {% block content %}{% endblock content %}

            <div class="body-push"></div>
        </div>

        <div class="footer">
            <div class="footer-content">
                Site Created by <a href="https://raduvasilescu.com">Radu Vasilescu</a>, 2019.
            </div>
        </div>
    </body>
</html>